# Pandas Project

### First of all download these following csv file.Then Add upload file to Jupiter Nootbook,you can name it whatever you  want, I name it as TopSellingAlbums.csv

https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.csv

In [4]:
import pandas as pd

- ##### Use the method head() to display the first five rows of the Top Selling Albums data.

In [13]:
df = pd.read_csv('TopSellingAlbums.csv')

In [26]:
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

- #####  Create a dataframe that contains the Artist and Rating data. Display the first five rows of the dataframe.

In [18]:
df[['Artist','Rating']].head()

            Artist  Rating
0  Michael Jackson    10.0
1            AC/DC     9.5
2       Pink Floyd     9.0
3  Whitney Houston     8.5
4        Meat Loaf     8.0

- ##### Display a dataframe where Rating was greater than 8.

In [21]:
df[df['Rating']>8]

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5

- ##### Find out how mant data exist.

In [42]:
len(df.index)

8

- ##### Find out how many columns exist.

In [43]:
df.columns

Index(['Artist', 'Album', 'Released', 'Length', 'Genre',
       'Music Recording Sales (millions)', 'Claimed Sales (millions)',
       'Released.1', 'Soundtrack', 'Rating'],
      dtype='object')

In [44]:
len(df.columns)

10

- ##### Find out AVG Music records Sales

In [45]:
df['Music Recording Sales (millions)'].mean()

28.125

- ##### Find out latest released album

In [77]:
df[['Artist','Album','Released.1']].max()

Artist        Whitney Houston
Album                Thriller
Released.1          30-Nov-82
dtype: object

- ##### Find out counts of Album

In [81]:
df['Album'].value_counts()

The Dark Side of the Moon          1
Rumours                            1
Saturday Night Fever               1
Bat Out of Hell                    1
Thriller                           1
Back in Black                      1
The Bodyguard                      1
Their Greatest Hits (1971-1975)    1
Name: Album, dtype: int64